In [4]:
a = [1 , True , 243 , "string", 5+6j,["daga",45]]
45 in a                         #although there but still false because it is not a individual part of a ["daga",45] this
                                #entire is one element.

False

In [5]:
243 in a

True

In [11]:
b = [ 1,2,3,5,"daga"]
max(b)                             # does not compare  diff data types

TypeError: '>' not supported between instances of 'str' and 'int'

In [10]:
b = [ 1,2,3,5]
max(b)                 # compares only if data type is same

5

In [13]:
b = ['daga',"is","rich"]
max(b)                                #just compare alphabetically r is max by rank

'rich'

In [1]:
min(['a',"A",'ggjgg','tdesx'])       #A is min rank in alphabets ascii range

'A'

In [8]:
b = [ 1,2,3,5]                       # appends at the end
b.append('afdfgd')
b

[1, 2, 3, 5, 'afdfgd']

__insert adds element as per the index of original list not new see diff 2 eg__

In [11]:
b = [ 1,2,3,5] 
b.insert(2,"hhhhh")                    
b

[1, 2, 'hhhhh', 3, 5]

In [12]:
b = [ 1,2,3,5] 
b.insert(-1,"hhhhh")        # here it comes at the index of -1 as per the original list            
b

[1, 2, 3, 'hhhhh', 5]

__extend fx does same thing as  putting string in list list(string)__

__both append and extend insert data at last position append takes full strings extend opens up string__                                  
__append does not unrap and adds at end as it is but extend unwraps and at items individually at end__

In [17]:
a = [1,2,3,4]                                
b = "ram"
c = list(b)
a+c

[1, 2, 3, 4, 'r', 'a', 'm']

In [20]:
a = [1,2,3,4]
a.extend("ram")                             # same result as list(string)
a

[1, 2, 3, 4, 'r', 'a', 'm']

__append__

In [27]:
a = [1,2,3,4] 
a.append([10,20,30])         #append does not unwrap add as it is
a

[1, 2, 3, 4, [10, 20, 30]]

__extend__

In [26]:
a = [1,2,3,4] 
a.extend([10,20,30])      #extend unwraps and add at end
a

[1, 2, 3, 4, 10, 20, 30]

In [29]:
a = [1,2,3,3,4 ,3] 
a.index(3)               #will give index of first 3

2

__removal of the data__

In [13]:
a = [1,2,3,3,4 ,3]
a.pop()                   #by default removes the last value or based on index

3

In [14]:
print(a)

[1, 2, 3, 3, 4]

In [38]:
a.pop(1)

2

In [15]:
a.remove(3)              #removes first 3 or removes on the bases of values not index
a

[1, 2, 3, 4]

In [46]:
l = [1,5,7,9,6,2,4,3,5,8]
l.sort()               #sorts the data by default ascending  
l

[1, 2, 3, 4, 5, 5, 6, 7, 8, 9]

In [83]:
a=[[1,2,3],['aa',1,55],'yyy',99]
a.insert(2,[4,9])
a.insert(2,[66])
a.insert(2,[5+6j])
print(a)
for i in a :
    if type(i)==list:
        for j in i :
            if type(j)==str():
                "string  to be removed has index {} {}".format(i,j)

[[1, 2, 3], ['aa', 1, 55], [(5+6j)], [66], [4, 9], 'yyy', 99]

In [1]:
#2. Find the index of string element in the nested list and remove the string  ( solution by a student )
l = [[1, 2, 3],
 [11, 12, 'b', 'b', 'b'],
 [21, 't', 223],
 [4, 5, 6],
 [7, 8, 9],
 'demo',
 12.5]

for i in l:
    if type(i) == list:
        j=0
        while j < len(i):
            if type(i[j]) is str:
                print("Index of string {} is :".format(i[j]),j)
            j = j +1
        j=0
        while j < len(i):
            if type(i[j]) is str:
                print("The string in the nested list is '{}'".format(i[j]))
                i.remove(i[j])
                continue
            j = j +1
print("List after removal of string from nested list is\r",l,'\n')

Index of string b is : 2
Index of string b is : 3
Index of string b is : 4
The string in the nested list is 'b'
The string in the nested list is 'b'
The string in the nested list is 'b'
Index of string t is : 1
The string in the nested list is 't'
 [[1, 2, 3], [11, 12], [21, 223], [4, 5, 6], [7, 8, 9], 'demo', 12.5]

__make a code short__

In [16]:
a = []
for i in 'sudh':                        #comprihension opeartion
    a.append(i)
a

['s', 'u', 'd', 'h']

In [18]:
[i for i in 'sudh' ]

['s', 'u', 'd', 'h']

In [19]:
[[i] for i in 'sudh']

[['s'], ['u'], ['d'], ['h']]

In [22]:
l = []
for i in range(10):
    if i%2 == 0:
        l.append(i)                     # % it is remainder fx
l

[0, 2, 4, 6, 8]

In [24]:
l = []
[i for i in range(10) if i%2==0]

[0, 2, 4, 6, 8]

In [23]:
5%2

1

In [28]:
l = []
for i in range(10) :
    if i %2 == 0 :
        l.append('even')
    else :
        l.append('odd')
l

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [32]:
l = []
['even' if i%2==0   else  'odd' for i in range(10) ]

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [5]:
mat = []
for i in range(3):
    mat.append(4)
    mat.append(1)
   
mat

[4, 1, 4, 1, 4, 1]

In [7]:
mat = []
for i in range(3):
    mat.append([])                # it adds 3 empty list in every loop
    for j in range(3) :           
        mat[i].append(j)      # it adds elements in nested list inside mat ( it adds to the list at 0th index in mat list)
mat

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [2]:
[[j for j in range(3)] for i in range(3)]     # comprehensive code for same above program

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [4]:
[ i for i in range(9) if i%2 == 0 ]           # single if check

[0, 2, 4, 6, 8]

In [5]:
                                                # all multiple if conditions are on the right
[ i for i in range(9) if i%2 == 0 if i%3==0]      # check both 2 and 3 multiple

[0, 6]

In [6]:
l=[]
for i in range(9) :
    if i%2 == 0:
        if i%3 == 0:
            l.append(i)
l

[0, 6]

In [8]:
              #before for loop its output   [i for i in range(10)] 
             # --if's output -- if condition-- else -- else output--
            # multiple if condition in else same syntax as above    ["one" if i==1 else "two" if i == 2 else "no"  for i in l]
    



l=[i for i in range(10)]      
["one" if i==1 else "two" if i == 2 else "no"  for i in l]

['no', 'one', 'two', 'no', 'no', 'no', 'no', 'no', 'no', 'no']