In [18]:
print('hellow world')
message = 'future billioner'
print(len(message))
today = "world's my playground"       #with ' inside use "" for string
print(today)
print(today.find("my"))               #it gives index value where my starts if not found -1 
print(today.find('goku'))
print(message)
print(message.lower())
print(message.upper())
print(message[2].upper())              #message's index 2 in upper
print(message.count('l'))              # counts l in string
print(message.count('fut'))            # counts fut in string
my_variable = (0, 1, 2, 3)
print(my_variable[1])                  #[] has index in it
print(my_variable[0:])                 #  0:  from 0 to end
print(my_variable[:3])                 #   :3 from start to 3
print(my_variable[:4])
message.replace('future','current')    # it just replaces but if printed old comes 
print(message)                         #we just replaced we never assigned it new variable
today=today.replace('my','only my')    # now variable is replaced with new so changes reflect
print(today)
a=100
type(a)

hellow world
16
world's my playground
8
-1
future billioner
future billioner
FUTURE BILLIONER
T
2
1
1
(0, 1, 2, 3)
(0, 1, 2)
(0, 1, 2, 3)
future billioner
world's only my playground

int

In [19]:
a='paisa hi paisa hoga'
type(a)
a.capitalize()                                             #tab+shift gives all functions

'Paisa hi paisa hoga'

In [20]:
b=5+2j
type(b)

complex

In [21]:
t = true
type(t)                                                # error if t is not in cap

NameError: name 'true' is not defined

In [22]:
t=True
type(t)                                                #FOR BOOLEAN T IN CAP

bool

In [23]:
a,b,c,d = 10,"kumar",6.55, True                         #varibles
print (a,b,d)

10 kumar True

In [24]:
a=10,"kmar",10.5555, 5+6j,True                          #this is list  (single variable multiple values)              
print(a)

(10, 'kmar', 10.5555, (5+6j), True)

In [25]:
x=5+2j
x.conjugate()                                          #Functions always works with closed brackets

(5-2j)

In [26]:
True+True                                               #True gives 1 to the system

2

In [28]:
input()                                               #when executed will ask for a user input 
                                                      #but it reads everything as string by default

1212522

'1212522'

In [29]:
input()                                               #it considers it as string

454565436434

'454565436434'

In [35]:
a=input( " enter a integer ")

 enter a integer 12451522

In [36]:
a    
                                                        #returns string via default

'12451522'

In [15]:
int(a)                                                 #returns numeric if datatype changes called TYPECAST

10

In [12]:
id(a)                                                  #id returns the memory allocation adress at ram of the a variable

2336721037904

In [11]:
a=10
id(a)

2336721037904

In [34]:
"sudh"*3                                               #use of string and multiplication

'sudhsudhsudh'

In [32]:
"sudh" - "sudh"                                        #only multiplication works

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [47]:
# or a,b,c =float(input( "enter 1st integer")),float(input( "enter 2st integer")),float(input( "enter 3st integer")) 
a,b,c = input( "enter 1st integer"),input( "enter 2st integer"),input( "enter 3st integer") 
o = (float(a) + float(b)) /float(c) 
z = o + 5 + 6j
str(z) + "deepanshu"

enter 1st integer10
enter 2st integer1.22
enter 3st integer2.11

'(10.317535545023699+6j)deepanshu'

In [73]:
y = int(input("enter a no lesser than 35"))
if y < 35 :                                             #take care of palcement of if else indentation  error 
        print("ok")                                     
elif y < 100 :
        print( "input is less than 100")
else :                                      
        print("invalid data")

enter a no lesser than 3534
ok

In [ ]:
y = int(input("enter a no lesser than 35"))                 #if is false still ok why 
if y < 35 : pass                                            #now print statement is not the part of if , if ends with pass
print("ok")                                     #thus print dont require tab here no indentation error since its outside loop

In [84]:
salary = int(input( "input your salary"))               # if input is 4 should be in last category but will give wrong output  
if salary < 1000:                                       # as buy car because if loop enters 1st if true doesnot enter rest
    print('buy car'                                     #if else ends with colon  :
elif salary < 500 :                             
    print( 'buy bike')                                 #if loop after finding first true statment terminate itself.
elif salary < 300 :                                    # correct code by giving it < operator
    print( 'buy scooty')
else : 
    print('black money required')

input your salary1001
black money required

In [106]:
salary = int(input( "input your salary"))                
if salary > 1000 :                                       
    print('buy car') 
    if salary > 5000:
        print( "buy jaguar")
        if True :
            print('true code')
    elif salary > 4000 :
          print( ' buy maruti')
    else:
          print('buy nano')
elif salary > 500 :                             
    print( 'buy bike')                                
elif salary > 300 :                                   
    print( 'buy scooty')
else : 
    print('black money required')

input your salary5001
buy car
buy jaguar
true code