In [7]:
a = " daga is a scientist"
for i in range(len(a)) :
    print(a[i])

d
a
g
a

i
s

a

s
c
i
e
n
t
i
s
t

In [8]:
a[::-1]                             # reverse order

'tsitneics a si agad '

__Strings cannot be changed once defined for that perticular ram address (string not mutable)__                         
                                              __but list can be chnaged(string mutable)__

In [13]:
a = 'daga is scientist'                             #individual elemts of a strings can not be changed for same ram adress(immutable) 
b = ['aaa','ppp','kkkk','hhhh']                     #although entire string can be changed.

['aaa', 'ppp', 'kkkk', 'hhhh']

In [15]:
a[2]='z'

TypeError: 'str' object does not support item assignment

In [7]:
a = 'daga is scientist'       # here string individuals does not change at a's initial address
a.replace('daga',"me")       # a new ram address is asigned for change values thus when called back original strings shows as it is yet not assigned new space in same.
a

'daga is scientist'

In [8]:
id(a)

2670918723664

In [9]:
a=a.replace('daga',"me")     ## a new ram address is asigned for change values thus still follows imutability.
a

'me is scientist'

In [10]:
id(a)

2670919398832

In [19]:
b[2] = 'nnn'                                           # list are mutable , individual items can be changed
b

['aaa', 'ppp', 'nnn', 'hhhh']

In [20]:
a ='bbbbbbbbbb'                                       #entire string changed this is not counted under mutability
a                                                       # it is variable assignment

'bbbbbbbbbb'

__other string functions__

In [24]:
a = 'daga is scientist' 
a.find('a')                        #Return the lowest index in S where substring sub is found,
                                #such that sub is contained within S[start:end].  Optional
                                #arguments start and end are interpreted as in slice notation.

                            #Return -1 on failure.

1

In [29]:
a = 'daga is scientist' 
b=a.split('a')
a.split('a')                         # it splits at search point and changes rest to list

['d', 'g', ' is scientist']

In [30]:
type(b)

list

In [11]:
b="   deep   anshu   "             # strips off spaces both before and after string but not og between
b.strip()

'deep   anshu'

In [12]:
b.lstrip()                         ## strips off  all left spaces

'deep   anshu   '

In [14]:
b.rstrip()                          ## strips off  all right spaces

'   deep   anshu'

In [16]:
b="deep\tanshu"
b.expandtabs()

'deep    anshu'

__count all "a" , print all index value of a , replace all "a" by ineuron , print all words as list__

In [39]:
b = "we all are part of full   science"
print(b.upper())
count = 0
index = 0
for i in (b) : 
    index = index +1                                                               
    if i == "a":
        count = count +1
        print(index)
print(count)        
b = b.replace('a','ineuron')   
b.split()

WE ALL ARE PART OF FULL   SCIENCE
4
8
13
3

['we', 'ineuronll', 'ineuronre', 'pineuronrt', 'of', 'full', 'science']

__professional solution__

In [41]:
a = "We are all part of Full Stack"

# 1. Normalizing entire string in lower case
print(a.lower())
# 2. Finding number of occurances of a in entire string
print(len([i for i in range(len(a)) if a[i] == 'a']))
# 3. Indexes where a is present 
print([i for i in range(len(a)) if a[i] == 'a'])  
# 4 . replace all a's with ineuron
print(a.replace('a','Ineuron'))
#5. print all the words as a list
print([i for i in a.split() ])

we are all part of full stack
4
[3, 7, 12, 26]
We Ineuronre Ineuronll pIneuronrt of Full StIneuronck
['We', 'are', 'all', 'part', 'of', 'Full', 'Stack']

In [46]:
k = " i love indian stock market "
l = []
for i in range(len(k)) :
    if k[i] == "a" :
        l.append(i)                                        #appends adds on to previous list
print("all indices :", l)

all indices : [12, 22]

In [70]:
k = ' i love indian stock  m##1#@arket'                  # k.is fx returns true or false
k.islower()

True

In [71]:
k.isdigit()

False

In [73]:
k.endswith("t")

True

In [79]:
k = 'kite    hhlkj'            #false since spaces are there
k.isalpha()                    #spaces must be removed to check

False

In [82]:
k = 'indian5 '                 #false since spaces are there
k.isalnum()

False

__reverse strin__

In [83]:
k = " i love indian stock market "
k[::-1]

' tekram kcots naidni evol i '

In [93]:
for i in range(len(k)) :
    print(k[-i],end='')

  tekram kcots naidni evol i

In [95]:
ch = len(k) -1 
while ch >= 0:
    print(k[ch],end="")
    ch = ch -1

 tekram kcots naidni evol i

__find if alphabets are vowels__

In [4]:
a = "indian stock"
vow = "aeiouAEIOU"
for i in a :
    if i in vow :            # if loop and format fx are awesome
        print('{} is a vowel'.format(i))
    else :
        print('{}  not a vowel'.format(i))

i is a vowel
n  not a vowel
d  not a vowel
i is a vowel
a is a vowel
n  not a vowel
   not a vowel
s  not a vowel
t  not a vowel
o is a vowel
c  not a vowel
k  not a vowel

In [6]:
'{} daga'.format("deepanshu")      #format fx fill the string bracket ay run time

'deepanshu daga'

In [7]:
'{} name {} deepanshu'.format('my','is')

'my name is deepanshu'

In [9]:
a = input(" ")
b = input(" ")                                   #can be used to take inputs
"{} name {} deepanshu {} ".format(a,b,"daga")

 ii
 kk

'ii name kk deeoanshu daga '

__palendrome check__

In [22]:
a = input('palindrome check  ')
b=0
c=len(a)
for i in range(len(a)) :
    if a[i] == a[len(a)-1-i] :
        b=b+1
if b == c :  
    print('its palindrome')
else :
    print('not palindrome')

palindrome check  2002
its palindrome

In [30]:
a =input('palindrome check  ')
s1 = a[::-1]                              #this reverses the elements both in strings and list
if s1 == a :
    print('plindrome')
else :
    print('not same')

palindrome check  101
plindrome

__list manupulation__

In [31]:
l1 = ['daga ',1,"jajaj"]           #will not add diff data types
s = "sudh"
s+l1

TypeError: can only concatenate str (not "list") to str

In [43]:
l1 = ['daga ',1,[45,23],"jajaj"]           #will not add diff data types
s = "sudh"
s1 = list(s)                         #by list(string) list take string as individual charcters
l1+s1

['daga ', 1, [45, 23], 'jajaj', 's', 'u', 'd', 'h']

In [44]:
S1 = [s]                            #to use string without breaking     :  a = [string]
l1+S1

['daga ', 1, [45, 23], 'jajaj', 'sudh']

In [2]:
l1 = ['daga ',1,[45,23],"jajaj"]  
l1.append('hcl')                        #another way to add append adds only in the end
l1

['daga ', 1, [45, 23], 'jajaj', 'hcl']

In [46]:
len(l1)

4

In [50]:
"daga" in l1      # although daga is in l1 still it shows false because i didnt gave space after "daga ''   exact required.

False