In [2]:
a = "my name is deepanshu"
for i in a :
    print(i)

m
y

n
a
m
e

i
s

d
e
e
p
a
n
s
h
u

In [10]:
a = "my name is deepanshu"                 # else executes when for loop exhaust
for i in a :
    print(i)
else :
    print('this is else condition')

m
y

n
a
m
e

i
s

d
e
e
p
a
n
s
h
u
this is else condition

In [11]:
a = "i will be rich"                        #if else in for loop
for i in a :
    if i == "l":
        print(' found ')
        print(i)
    else :
        print("no")

no
no
no
no
 found
l
 found
l
no
no
no
no
no
no
no
no

In [2]:
a = "i wiKl be rich"                        #if else in for loop
for i in a :                                # here  if else is outside for loop (see indentation) thus after all for 
    if i == "K":                            # loop ends else should execute.
        print(i)                            # but since break in for loop breaks the loop 
        break                               # but since break in for loop breaks the loop 
                                            # both this and next codeare same but output diff
if i != 'K':                                #FIRST FOR LOOP COMPLETES THAN NEXT IF SINCE IF IS OUTSIDE 
    print('0')
else :
    print("no")

K
no

In [3]:
a = "i wiKl be rich"                        #if else in for loop
for i in a :                                # here if else is a part of for loop indentation matters a lot
    if i == "K":
        print(i)
        break
        
    if i!='K':
        print('0')    
    else :
        print("no")

0
0
0
0
K

SPECIAL CONDITIONS FOR ONLY FOR ELSE LOOPS SUCH CONDITION IS NOT VALID IN IF ELSE

IN FOR ELSE CASE ELSE WILL EXECUTE ONLY WHEN FOR LOOP COMPLETELY EXECUTES WITHOUT BREAK

In [11]:
a = "i wiKl be rich"                        #if else in for loop
for i in a :                                # here if else is a part of for loop indentation matters a lot
    if i == "K":
        print(i)                            # here print is outside first if loop and inside for loop
else :                       
    print("no")                              #IF FOR LOOP COMPLETES THAN ELSE WILL EXECUTE

K
no

In [14]:
a = "i wiKl be rich"                        #if else in for loop
for i in a :                                # here if else is a part of for loop indentation matters a lot
    if i == "K":
        print(i)
        break                               # here print is outside first if loop and inside for loop
else :                       
    print("no")                            # IF FOR LOOP BREAKS THAN ELSE LOOP AFTER IT WILL NOT EXECUTE

K

In [15]:
a = 'i am daga'
for i in a :                              
    if i == 'm':
        continue                         # continue transfers the control to for loop imidiatly for next iteration and
    print(i)                             # and whatever after continue will not be executed
else :
    print('no')                            # here for loop comletes thus it executes else statement

i

a

d
a
g
a
no

In [20]:
# in "ineuron" try to remove all the and give output
a = "ineuron"
ss = ""
for i in a :
    if i == 'n' :
        continue
    else :
        ss = ss + i
print(ss)

ieuro

NESTED FOR LOOP

In [31]:
a = 4
for i in range(0,a) :
    for j in range(0,i+1) :
        print('+',end = "   ")
print("\r")                                         # here after pring gap is 2 spaces defined after every print

+   +   +   +   +   +   +   +   +   +

In [33]:
a = 4
for i in range(0,a) :
    for j in range(0,i+1) :                          
        print('+',end = "")                          # here new line default is repalced by no blank makes no gap in characters
print('\r')                                          # print('\r') is new line

++++++++++

In [13]:
a = 4
for i in range(0,a) :
    for j in range(0,i+1) :                            # here print('\r') is part of j loop
        print('+',end = '  ')                           # by default print(value , end = ' /n') new line after print 
        print('\r')

+
+
+
+
+
+
+
+
+
+

In [11]:
for i in range(0,4) :                     # same code last print command indentation effect
    print('+',end = "   ")
    for j in range(0,i+1) :               # same code last print command indentation effect
        print('+',end = "   ")           # by default print(value , end = ' /n') new line after print here new line command removed
print('\r')                               # here print('\r') is out of both the loops thus executes when both loops are done

+   +   +   +   +   +   +   +   +   +   +   +   +   +

In [12]:
a = 4
for i in range(0,a) :
    for j in range(0,i+1) :                             # same code last print command indentation effect
        print('+',end = "   ")                      
    print('\r')                                          # here print('\r') is part of i loop

+
+   +
+   +   +
+   +   +   +

In [30]:
a = 4
for i in range(0,a) :                               
    for j in range(0,i) :                             # same code last print command indentation effect
        print('+',end = "   ")                      
    print('+')

+
+   +
+   +   +
+   +   +   +

pyramid

https://www.youtube.com/watch?v=EHA53-05510&list=PL9ATnizYJ7f_yC9NJhwSaxIPX2atejZ3Q&index=8

In [118]:
a = 4
for i in range(0,a) :
    for j in range(0,a) :      # second loop displaces output in x direction
        print('',end ='')
    for k in range(0,i) :                             # same code last print command indentation effect
        print('+',end = "   ")
    print('+')

+
+   +
+   +   +
+   +   +   +

In [46]:
a = 4
for i in range(0,a) :
    for j in range(0,a-i-2) :      # second loop displaces output in x direction
        print(' ',end =' ')
    for k in range(0,i) :                             # same code last print command indentation effect
        print('+',end = "   ")
    print('+')

    +
  +   +
+   +   +
+   +   +   +

In [123]:
a = 4
for i in range(0,a) :              #1st loop controls no of rows
    for j in range(0,a-i) :        #2st loop controls places in single row  (second loop displaces entire output in x direction)
        print('',end ='  ')        # space in 2nd loop controls spacing before prints in individual lines
    for k in range(0,i) :          #  this loop is por print purpose           # half triangle
        print('+',end = " ")       # space in also works as second loop controls spacing between + in every line
    print('+')

        +
      + +
    + + +
  + + + +

__for triangle 1,3,5 etc__

In [68]:
a = 4
for i in range(0,a) :
    for j in range(0,a-i) :         
        print(' ',end =' ')       
    for k in range(0,2*i) :        # full triangle
        print('+',end = " ")      
    print('+')

        +
      + + +
    + + + + +
  + + + + + + +

__for triangle 1,2,3,4__

In [135]:
a = 5
for i in range(0,a) :
    for j in range(0,a-i) :
        print("",end = " ")
    for k in range(0,i) :
        print("+",end=" ")
    print("+")

     +
    + +
   + + +
  + + + +
 + + + + +

In [4]:
a = 6  #int(input('size of inverted'))
for i in range(0,a):
    for k in range(0,i):
        print("",end="  ")
    for j in range(0,a-i-1):
        print('+',end="   ")
    print("+")

+   +   +   +   +   +
  +   +   +   +   +
    +   +   +   +
      +   +   +
        +   +
          +


__next 2 are class codes__

In [21]:
num = 5
m = 2 * num - 2
for i in range(num, -1, -1):
    for j in range(m, 0, -1):
        print(end=" ")
    m = m + 1
    for j in range(0, i + 1):
        print("*", end=" ")
    print("")

        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

In [22]:
n =  5 # int(input('Enter number of rows required: '))

for i in range(n,0,-1):
    for j in range(n-i):
        print(' ', end='') 
    
    for j in range(2*i-1):
        print('*',end='') 
    print()

*********
 *******
  *****
   ***
    *

In [73]:
a = 8
b = 8
for i in range(a):
    print(' '*(8-a)+('* '*a))
    a=a-1
for i in range(b):
    print(' '*(b)+('* '*(8-b)))
    b=b-1

* * * * * * * *
 * * * * * * *
  * * * * * *
   * * * * *
    * * * *
     * * *
      * *
       *

       *
      * *
     * * *
    * * * *
   * * * * *
  * * * * * *
 * * * * * * *

__using while loop__

In [36]:
i = 0
j = 9
while i<j:
    print(' '*(9-j)+("* "*(j)))   # difference one space can create in output of almost same code
    j=j-1

* * * * * * * * *
 * * * * * * * *
  * * * * * * *
   * * * * * *
    * * * * *
     * * * *
      * * *
       * *
        *

In [75]:
i = 0
j = 9
while i<j:
    print(' '*(9-j)+("*"*(j))) 
    j=j-1

*********
 ********
  *******
   ******
    *****
     ****
      ***
       **
        *

In [80]:
a = [ 'daga' , 25523 , [1,2,'ddd',4],5+6j,520.22555]
for i in a :
    print(type(i))

<class 'str'>
<class 'int'>
<class 'list'>
<class 'complex'>
<class 'float'>

In [96]:
a = [ 'daga' , 25523 , [1,2,'ddd',4],5+6j,520.22555]
for i in a :
    if type(i) == list :
        for j in i :
            print(j)

1
2
ddd
4

In [98]:
# add all the elements of only all the list that is already inside parent list

a = [ 'daga' , [1,2],2533 , [1,2,'ddd',4],5+6j,520.22555]
n = 0
for i in a :

    if type(i) == list:
        for j in i :
            if type(j)== int:
                n=n+j
print(n)

10

In [103]:
a = [ 'daga' , 25523 , [1,2,'ddd',4],5+6j,520.22555]
a[0:4]

['daga', 25523, [1, 2, 'ddd', 4], (5+6j)]

In [104]:
a = [ 'daga' , 25523 , [1,2,'ddd',4],5+6j,520.22555]
a[0:4:3]

['daga', (5+6j)]

In [110]:
a = [ 'daga' , 25523 , [1,2,'ddd',4],5+6j,520.22555]
a[8:2:1]

[]

In [111]:
a = [ 'daga' , 25523 , [1,2,'ddd',4],5+6j,520.22555]
a[8:2:-1]

[520.22555, (5+6j)]

In [112]:
for i in range(4,10):
    print(i)

4
5
6
7
8
9

__using list for same__

In [123]:
lt = list(range(4,10))    # list is a predefined fx ans thus () and not []   all its items are in []
lt

[4, 5, 6, 7, 8, 9]