__Python Collections (Arrays)
There are four collection data types in the Python programming language__

__List is a collection which is ordered and changeable. Allows duplicate members.__
__Tuple is a collection which is ordered and unchangeable. Allows duplicate members.__
__Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.__
__Dictionary is a collection which is ordered** and changeable. No duplicate members__

# tuple is similar to list but round brackets

In [1]:
a = ()
type(a)

tuple

In [2]:
b = []
type(b)

list

In [3]:
a = ( 1, 'jjjj', 5+6j,True, 55.66)
b = [1, 'jjjj', 5+6j,True, 55.66]     #list and tuple both can take same content
print(a[0])
print(b[0])                           # for calling index values both require [] square brackets

1
1

In [4]:
print(a[::-1])                        # sicing operation will also be same
print(b[::-1])

(55.66, True, (5+6j), 'jjjj', 1)
[55.66, True, (5+6j), 'jjjj', 1]

# tuples are called imutable collection , list can be assigned new values but tuples does not accept any new assigned value once formed

In [5]:
a = ( 1, 'jjjj', 5+6j,True, 55.66)    # tuple
b = [1, 'jjjj', 5+6j,True, 55.66]     # list
b[0] = "daga"                                     # b is list thus new value assigned (mutable)
b

['daga', 'jjjj', (5+6j), True, 55.66]

In [8]:
a[0] = "daga"
a                                                 #tuple are imutable

TypeError: 'tuple' object does not support item assignment

In [ ]:
# mutablity and imutablity comes into picture when we have to assign new value to the same old ram address 
#but both can take values for new ram adress

In [9]:
b = [1, 'jjjj', 5+6j,True, 55.66]
c = ("daga", "is", "rich")
a+c                              # this happens even after imutablity because b+c has new ram adress in system

(1, 'jjjj', (5+6j), True, 55.66, 'daga', 'is', 'rich')

In [10]:
b = [1, 'jjjj', 5+6j,True, 55.66]
"jjjj"   in b

True

In [14]:
b = [1, 'jjjj',34, 5+6j,True,34,34,34,34, 55.66]
print(b.count(34))
print(b.index(34))             # similar to list first 34

5
2

In [ ]:
# since tuple is imutable entity only index and count are allowerd thus no  other fx  as in list like extend append insert upper

In [140]:

# direct insersion in case of tuples is not allowed
# how to insert a element into tuple 
# since tuple is imutable convert it into list first 
#than insert in list at desired location 
# and convert back list to tuple

# add 56 at index 2 in a tuple

b = (1, 'jjjj',34, 5+6j,True,34,34,34,34, 55.66)
lst = list(b)
lst.insert(2,56)
print(lst)           # its list
tuple(lst)           # its tuple

[1, 'jjjj', 56, 34, (5+6j), True, 34, 34, 34, 34, 55.66]

(1, 'jjjj', 56, 34, (5+6j), True, 34, 34, 34, 34, 55.66)

 __You can use a List to store the steps necessary to cook a chicken, because Lists support sequential access and you can access the steps in order__

__You can use a Tuple to store the latitude and longitude of your home, because a tuple always has a predefined number of elements (in this specific example, two). The same Tuple type can be used to store the coordinates of other locations
Since tuples are immutable, iterating through a tuple is faster than with list. So there is a slight performance boost.
Tuples that contain immutable elements can be used as a key for a dictionary. With lists, this is not possible.__

__You can use a Set to store passport numbers, because a Set enforces uniqueness among its elements. Passport numbers are always unique and two people can't have the same one__

In [ ]:
# __nested tuples are allowed__

In [70]:
b = (('ffff', 12) , (1,2,3),('daga', 1 , 2+2j), (True,11), [5,4,6] , [2,5,6 ,1,1])

In [62]:
count=0  
for i in b :
    if type(i)==list :
        print(i)
        for j in i :
            if j == 5:
                print ('tuple index is  {} and list index is {} '.format(b.index(i),i.index(j)))
                count=count+1

if count==0 :
    print('no list with 5')

[5, 4, 6]
tuple index is  4 and list index is 0
[2, 5, 6]
tuple index is  5 and list index is 1

In [64]:
type(b)

tuple

In [65]:
type(b[5])                     # way to acess value in tuples

list

In [66]:
b[5][1]

5

In [72]:
b[5][1:]

[5, 6, 1, 1]

In [74]:
for i in b :                   # acess first elemt of every tuple
    if type(i) == tuple:
        print(i[0])

ffff
1
daga
True

In [80]:

b = (('ffff',12),(1,2,3),('daga',1,2+2j),(True,11),[5,4,6],[2,5,6,1,1])

def alpha() :
    global s
    s = (input('enter string to be checked  '))

def digit() :
    global d
    d = int(input('enter digit to be checked  '))


k = input('for string element check press y for int element test press x' )

if k == 'x':
    digit() 
    count = 0
    for i in b :
        for j in i :
            if j == d :
                print('digit exist')
                count = count +1
                
    if count == 0 :
        print('digit not exist')
                
        
        
if k == 'y':
    alpha()
    count = 0
    for i in b :
        for j in i :
            if j == s :
                print('string exist')
                count = count +1
    if count == 0 :
        print(' string not exist')

for string element check press y for int element test press xx
enter digit to be checked  1
digit exist
digit exist
digit exist
digit exist
digit exist

In [129]:

     for i in b :
        for j in i :
            if j == 11 :
                print('digit exist')

digit exist

In [139]:
k = (('ffff',12),(1,2,3),('daga',1,2+2j),(True,11),[5,4,6],[2,5,6,1,1])
j = (('ffff',12),(1,2,3),('daga',1,2+2j),(True,11),[5,4,6],[2,5,6,1,1])
del(k)                                         
print(k)                            # k is deleted
print(j)

NameError: name 'k' is not defined

# set    denotaion {  }

__Note: Sets are unordered, so you cannot be sure in which order the items will appear.__
__A set is a collection which is unordered, unchangeable*, and unindexed.

* Note: Set items are unchangeable, but you can remove items and add new items.__
    __Set Items
Set items are unordered, unchangeable, and do not allow duplicate values.

Unordered
Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.__

__a set operation removes all the duplicates unique characters are left__

In [144]:
a = [11,22,11,11,22,'daga','daga','DaGa','me']
set(a)                      # prints all the unique elements and is case sensitive 
                            # data normalization is required to convert all in either upper or lower to sence uniqueness

{11, 22, 'DaGa', 'daga', 'me'}

In [145]:
a                                              #   orinal still have all the element

[11, 22, 11, 11, 22, 'daga', 'daga', 'DaGa', 'me']

__SET DOES NOT ALLOW INDEXING OPERATION__

In [148]:
a = [11,22,11,11,22,'daga','daga','DaGa','me']
s=set(a)
s[0]

TypeError: 'set' object is not subscriptable

__REST ALL OERATION WORKS__

In [154]:
a = [11,22,11,11,22,'daga','daga','DaGa','me']                   # conversion of list into set
s=set(a)
for i in s :
    print(i,end="  ")                                            # set does not give an orderd data

me  DaGa  11  daga  22

In [1]:
a = [11,22,11,11,22,'daga','daga','DaGa','me']                   # conversion of list into set
s=set(a)
s

{11, 22, 'DaGa', 'daga', 'me'}

In [2]:
a = (11,22,11,11,22,'daga','daga','DaGa','me')
s=set(a)                                                        # conversion of tuple into set
s

{11, 22, 'DaGa', 'daga', 'me'}

# Python Collections (Arrays)
# There are four collection data types in the Python programming language:

# List is a collection which is ordered and changeable. Allows duplicate members.
# Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
# Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
# Dictionary is a collection which is ordered** and changeable. No duplicate members.
# *Set items are unchangeable, but you can remove and/or add items whenever you like

# dictionary

In [3]:
a = { }             # by default empty curly braces are called dictionary
type(a)

dict

In [5]:
b = {1, 'a', 3}    # by default element inside curly braces are set
type(b)

set

In [6]:
c = {"name":'deepanshu' ,"age": 444}     # this {"key": value }  arrangement of data is dictionary
type(c)

dict

In [11]:
# how diff data types are stored and hat are their limitation
# key  can not be repeated all keys have to be unique 
# values coresponding to keys can be duplicate
# in output goku as value can be duplicate 
# but name as key cannot be duplicate thus it pick the name of bigest index


c = {"name":'deepanshu' ,"age": 444 , 'name':'goku', 'caste':"goku",True:215,"fff":True, 126:'d' } 
c

{'name': 'goku', 'age': 444, 'caste': 'goku', True: 215, 'fff': True, 126: 'd'}

In [ ]:
# any data type of VALUE can hold any data TYPE ( LIST , SET , TUPLE , BOOLIAN , STRING , NO ALL POSSIBLE)
# BUT key WILL NOT HOLD  ALL LIKE (LIST OR DICTIONARY OR SET are not allowed) 
# IN SHORT { } AND [ ] ARE NOT ALLOWED IN KEY PART , TUPLES ARE ALLOWED IN KEY PART ALSO.

In [2]:
a={"name":{"name":'deepu'},11:(1,2,3),True:[1,'s',12],"age": 444}   # valid value part takes all data types
a

{'name': {'name': 'deepu'}, 11: (1, 2, 3), True: [1, 's', 12], 'age': 444}

In [9]:
a={(1,2,"aa"):{"name":'deepu'},11:(1,2,3),True:[1,'s',12],"age": 444}   # in key set not allowed
a

{(1, 2, 'aa'): {'name': 'deepu'},
 11: (1, 2, 3),
 True: [1, 's', 12],
 'age': 444}

In [4]:
a={{'name':1}:{"name":'deepu'},11:(1,2,3),True:[1,'s',12],"age": 444}   # in key dic not allowed
a

TypeError: unhashable type: 'dict'

In [6]:
a={[1,2]:{"name":'deepu'},11:(1,2,3),True:[1,'s',12],"age": 444}   # in key list not allowed
a

TypeError: unhashable type: 'list'

In [8]:
a={{1,2,"aa"}:{"name":'deepu'},11:(1,2,3),True:[1,'s',12],"age": 444}   # in key set not allowed
a

TypeError: unhashable type: 'set'

# Extract value from dic

In [13]:
a={(1,2,"aa"):{"name":'deepu'},11:(1,2,3),True:[1,'s',12],"age": 444}   
a["age"]                                                      #  dic['key'] to extract the corresponding value

444

In [1]:
b={(1,2,"aa"):{"name":'deepu'},11:(1,2,3),True:[1,'s',12],"age": 444}   
b[(1,2,"aa")]

{'name': 'deepu'}

In [3]:
a={(1,2,"aa"):{"name":'deepu'},11:(1,2,3),True:[1,'s',12],"age": 444}   
print(type(a[True]))                   #calling any key by default becomes list
a[True][2]

<class 'list'>

12

In [5]:
a={(1,2,"aa"):{"name":'deepu'},11:(1,2,3),True:[1,'s',12],"age": 444} 
b={(1,2,"aa"):{"name":'deepu'},11:(1,2,3),True:[1,'s',12],"age": 444}     # dictionary does not support + ,-,/ there operands support
a+b

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [6]:
# assignment of new data to value part is allowed 
b={(1,2,"aa"):{"name":'deepu'},11:(1,2,3),True:[1,'s',12],"age": 444}   
b["age"] = 5
b                                # for key = age new value part is assigned

{(1, 2, 'aa'): {'name': 'deepu'}, 11: (1, 2, 3), True: [1, 's', 12], 'age': 5}

In [7]:
                                  # after dot there are many fx 
b.keys()

dict_keys([(1, 2, 'aa'), 11, True, 'age'])

In [3]:
# to acess all keys
b={(1, 2, 'aa'):{"karma": {'name': 'deepu'}}, 11: (1, 2, 3), True: [1, 's', 12], 'age': 5}
for i in b :
    print(i)                      # returns all keys of main line  (i ) is just keys

(1, 2, 'aa')
11
True
age

In [25]:
                                  # to acess all values correspondind to keys 
for i in b :
    print(b[i])

{'karma': {'name': 'deepu'}}
(1, 2, 3)
[1, 's', 12]
5

In [26]:
for i in b.keys() :               # shows data types of list corresponding to values
    print(b[i])

{'karma': {'name': 'deepu'}}
(1, 2, 3)
[1, 's', 12]
5

In [18]:
for i in b.keys():
    print(type(b[i]))             # shows data types of list corresponding to values

<class 'dict'>
<class 'tuple'>
<class 'list'>
<class 'int'>

In [20]:
b={(1, 2, 'aa'):{"karma": {'name': 'deepu'}}, 11: (1, 2, 3), True: [1, 's', 12], 'age': 5}
b.items()                         # gives key and value pairs as tuples

dict_items([((1, 2, 'aa'), {'name': 'deepu'}), (11, (1, 2, 3)), (True, [1, 's', 12]), ('age', 5)])

In [4]:
for i in b.items() :
    print(i)

((1, 2, 'aa'), {'karma': {'name': 'deepu'}})
(11, (1, 2, 3))
(True, [1, 's', 12])
('age', 5)

In [6]:
for i in b.items() :              # for all keys
    print(i[0])

(1, 2, 'aa')
11
True
age

In [7]:
for i in b.items() :              # for all values
    print(i[1])

{'karma': {'name': 'deepu'}}
(1, 2, 3)
[1, 's', 12]
5

In [9]:
b={(1, 2, 'aa'):{"karma": {'name': 'deepu'}}, 11: (1, 2, 3), True: [1, 's', 12], 'age': 5}
b[11][0]

1

In [21]:
a={56:{55,45,66}}   #to extract 45 = key of 56 a[65] will give value {45,55,66} a set and index is not allowed in set thus
print(type(a[56]))
(list(a[56]))                     # convert in list and than use index operation

<class 'set'>

[66, 45, 55]

In [45]:
# take input as para as input fx
# convert all of this input into list
# remove all the duplicate element from the list
# use distint as key and assign value as name to all keys
# print key value pairs tuple
# print the list of all keys


data_list = input('enter the para>>')

data_list = list(data_list.split(' '))

unique_set = set(data_list)

print(unique_set)

unique_list=list((unique_set))

my_dict = {}
for i in unique_list :      ## here while asigning deep to value part automatically i = keys gets assigned
    my_dict[i] = 'deep'      #dic[i] is used to adress value part
   
    
print(my_dict)



print("tuples ",my_dict.items())  # items will give tuples

for i in my_dict.items():
    print("keys ",i[0])    # i[0] asigns used to give keys

enter the para>>daga is daga
{'is', 'daga'}
{'is': 'deep', 'daga': 'deep'}
tuples  dict_items([('is', 'deep'), ('daga', 'deep')])
keys  is
keys  daga

In [50]:
s={1,2,3}                    # from keys is a buildin fx to put  same values'  jjj' for every key  
a={}
a.fromkeys(s,'daga')

{1: 'daga', 2: 'daga', 3: 'daga'}

In [63]:
paragph =input ('enter string')
lst1=paragph.split(" ")

s1=set(lst1)
print(s1)

dic1=dict.fromkeys(s1,'db')
print(dic1)

l2=list(dic1.items())
print(l2)

t1=dic1.keys()
print(t1)

enter stringdaga is daga
{'is', 'daga'}
{'is': 'db', 'daga': 'db'}
[('is', 'db'), ('daga', 'db')]
dict_keys(['is', 'daga'])

# dictionary num : square num

In [77]:
num = {}
for i in range(1,6):
    num[i]=i*i
print(num)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

__comprehensive way__

In [76]:
{num:num*num for num in range(1,6)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [79]:
# for all multiples of 3 nos 
{i:i*i for i in range(0,10,3)}

{0: 0, 3: 9, 6: 36, 9: 81}

In [70]:
# in a loop i = key and b[i] = value

b={(1, 2, 'aa'):{"karma": {'name': 'deepu'}}, 11: (1, 2, 3), True: [1, 's', 12], 'age': 5}
for i in b :
    print('key ==', i ,'    ', 'value == ',b[i])

key == (1, 2, 'aa')      value ==  {'karma': {'name': 'deepu'}}
key == 11      value ==  (1, 2, 3)
key == True      value ==  [1, 's', 12]
key == age      value ==  5

In [74]:
d ={"company":"ineuron" ,"course": "full stack data science" , "year" : 2022}
for i in d :
    if i == 'year':
        if d[i] > 2021 :
            print('value is updated')
        else :
            d[i] = 2022
            print('recently updated')
d

value is updated

{'company': 'ineuron', 'course': 'full stack data science', 'year': 2022}